@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8fafc;
  transition: background-color 0.3s ease;
}

html[data-theme="dark"] body {
  background-color: #1a202c;
}

@layer components {
  .dash-container {
    @apply flex-1 transition-all duration-300;
  }
  .dash-container-ds-collapsed {
    @apply md:ml-16;
  }
  .dash-container-ds {
    @apply md:ml-64;
  }
  .stat-card-container {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
  }
  /* form */
  .form-container {
    @apply w-[50%];
  }
  .input-grid {
    @apply grid md:grid-cols-2 grid-cols-1 gap-2;
  }
  .input-container {
    @apply flex flex-col gap-1;
  }
  .label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize;
  }
  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white outline-none;
  }
  .button {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }
  .button-close {
    @apply hover:bg-transparent bg-red-500 hover:text-red-700 font-semibold text-white py-2 px-4 border hover:border-red-500 border-transparent rounded;
  }
}
